
*.py[cod]
.*
!.babelrc
!.circleci
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.eslintrc.json
!.flowconfig
!.gqlconfig
!.github
!.gitignore
!.nvmrc
!.npmrc
!.plop
!.pylintrc
!.testcafe
!.travis*
!.tx
*.css
*.log
*.pot
*.pyc
settings.py
local_settings.py
__pycache__/
build/
coverage/
dist/
*\.egg*
# data
/docs/_build/
/media/
/node_modules/
/static/
/saleor/static/assets/
/templates/templated_email/compiled/*
!/templates/templated_email/compiled/.gitkeep
# Exported results file
django-queries-results.html
/venv/
/saleor/api_par_com/resources/json_file/*
webpack-bundle.json
